.helix-logo-ui-overlay {
  position: fixed;
  right: 10%;
  bottom: 30%;
  height: auto;
  width: auto;
  z-index: 12;

  display: none;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    opacity: 0.9;
  }
  
  .helix-theme-dark & {
    color: white;
  }
  
  @include q-is-x-large {
    right: 6%;
  }

  @include q-is-large {
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;

     &:before {
        display: block;

     }

    .helix-theme-dark & {
      color: black;
    } 
  }
}

.helix-logo-ui-overlay-wrapper {
  max-width: 400px;

  p {
    font-family: 'HelixSemiBold';
    line-height: 1.5;
    @include calc-value(font-size, 12px, 16px);
    text-transform: capitalize;
  }

  @include q-is-x-large {
    max-width: 310px;
  }

  @include q-is-large {
    width: 80%;
    margin: auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }

  button {
    position: absolute;
    top: -90px;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    cursor: pointer;

    svg {

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;      
    }  
  }
}