.helix-logo-ui-bottom {
  position: relative;
  width: 95%;
  margin: auto;
  @include calc-value(padding-top, 20px, 36px);
  @include calc-value(padding-bottom, 12px, 36px);
  transform: translateY(100%);

  @include q-is-small {
    width: 100%;
  }
}

.helix-logo-hint {
  width: 20%;
  float: left;
}

.helix-logo-buttons {
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 2;
  text-align: center;

  @include q-is-small {
    width: 100%;
  }
}

.helix-logo-day {
  text-transform: capitalize;
}

.helix-logo-download {
  float: right;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;

  @include q-is-medium-small {
    position: fixed;
    right: 23px;
    top: 100px;
    opacity: 0;
    display: none;
  }

  p {
    float: left;
    margin-right: 5px;
    opacity: 0.8;

    @include q-is-medium {
      display: none;
    }
  }

  button {
    float: left;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: relative;
    top: -14px;
    cursor: pointer;
    z-index: 2;
    transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);

    &:hover {
      transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
      background-color: rgba(0, 0, 0, 0.3);

      .helix-theme-dark & {
         background-color: rgba(255, 255, 255, 0.3);
      }
    }

    svg {
      margin: auto;
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      fill: black;
      width: 12px;

      .helix-theme-dark & {
        fill: white;
      }
    }

    .helix-theme-dark & {
      background-color: rgba(255, 255, 255, 0.2);
      border: 0;
    }
  }
}

.helix-logo-ui-hint {
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
  letter-spacing: 0.4px;
  max-width: 300px;
  line-height: 1.5;
  width: 34%;
  font-size: 12px;
  opacity: 0.5;

  display: none;

  @include q-is-large-small {
    max-width: 260px;
    font-size: 11px;
    width: 24%;
  }

  @include q-is-medium-small {
    display: none;
  }
}

.helix-logo-button {

  text-align: center;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  @include calc-value(width, 52px, 92px);

  @include q-is-medium {
    margin: 0 1%;
  }

  button {
    cursor: pointer;
    border-radius: 50%;
    @include calc-value(height, 58px, 72px);
    @include calc-value(width, 58px, 72px);
    @include calc-value(font-size, 9px, 12px);
    font-family: 'HelixMedium';
    letter-spacing: 0.5px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;

    .helix-theme-dark & {
      background-color: rgba(255, 255, 255, 0.05);
      border: 0;
      color: white;
    }

    .units {
      text-transform: uppercase;
    }
  }

  p {
    text-align: center;
    margin-top: 14px;
    line-height: 1.3;
    @include calc-value(font-size, 8px, 12px);
    opacity: 0.6;

  }

}
