.close-button {

  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000);

  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  svg g {
    fill: white;
  }

  &:active {
    transition: all 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    background-color: white;

    svg g {
      fill: $helix-blue;
    }
  }
}



.helix-logo-ui {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: none;
  opacity: 0;
}

.helix-logo-controls {
  width: 100%;
}

h5 {
  font-family: 'HelixMedium';
  @include calc-value(font-size, 18px, 36px);
  line-height: 1.1;

  .helix-theme-dark & {
    color: white;
  }
}

h6 {
  font-family: 'HelixSemiBold';
  @include calc-value(font-size, 10px, 16px);
  opacity: 0.4;
  .helix-theme-dark & {
    color: white;
  }
}

p {
  font-family: 'HelixRegular';
  letter-spacing: 1.2px;
  @include calc-value(font-size, 10px, 12px);
  text-transform: uppercase;

  .helix-theme-dark & {
    color: white;
  }
}

.button-color button {

  &:hover{
    .helix-ui-color-blue & {
      color: white; 
    }
    .helix-ui-color-teal & {
      color: white;      
    }
    .helix-ui-color-indigo & {
      color: white;      
    }
    .helix-ui-color-magenta & {
      color: white;       
    }
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    border-radius: 50%;
    transform: scale(0.8);
    opacity: 0;
    transition: all 100ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 

    .helix-ui-color-blue & {
      transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
      background-color: $helix-blue;      
    }
    .helix-ui-color-teal & {
      transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
      background-color: $helix-blue;      
    }
    .helix-ui-color-indigo & {
      transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
      background-color: $helix-magenta;      
    }
    .helix-ui-color-magenta & {
      transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
      background-color: $helix-orange;      
    }
  }

  &:hover {
    &:before {
      transform: scale(1);
      opacity: 1;
      transition: all 200ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
    }
  }

  .helix-theme-dark & {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.button-color.active {
  button {
    color: white;

    &:before {
      transform: scale(1);
      opacity: 1;
      transition: all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
    } 
  }
}

button, a {
  position: relative;

  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
}
