.helix-logo-ui-overlay, .helix-logo-ui-overlay__scienceCentral {
  position: fixed;
  right: 10%;
  bottom: 30%;
  height: auto;
  width: auto;
  z-index: 12;

  display: none;

  @include q-is-x-large {
    right: 6%;
  }

  @include q-is-large {
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;

      .helix-logo-ui-overlay-background, .helix-logo-ui-overlay-background__scienceCentral {
        display: block;
      }

    p {
      .helix-theme-dark & {
        color: black;
      }
    }

    button {
      border: 2px solid rgba(0, 0, 0, 0.1)!important;
      .is-tablet-experience & {
        border: 2px solid rgba(255, 255, 255, 0.4)!important;
      }
    }  

    svg rect {
      fill: black !important;
      .is-tablet-experience & {
        fill: white !important;
      }
    }
  }
}

.helix-logo-ui-overlay-background, .helix-logo-ui-overlay-background__scienceCentral {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  opacity: 0.9;
  transform: scale(0.9);

  .is-tablet-experience & {
    opacity: 0.85;
    background-color: $helix-blue;
  }

}

.helix-logo-ui-overlay-wrapper, .helix-logo-ui-overlay-wrapper__scienceCentral {
  max-width: 400px;

  p {
    font-family: 'HelixSemiBold';
    line-height: 1.5;
    @include calc-value(font-size, 12px, 16px);
    text-transform: initial;
    transform: translateY(20px);
    opacity: 0;

    .is-tablet-experience & {
      color: white !important;
      font-size: 25px;
    }
  }

  @include q-is-x-large {
    max-width: 310px;

    .is-tablet-experience & {
      max-width: 420px;
    }
  }

  @include q-is-large {
    width: 80%;
    margin: auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }

  button {
    position: absolute;
    top: -90px;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    transform: translateY(30px);

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%; 
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1);
      opacity:0;
      transform: scale(0.7);
      transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
      .helix-theme-dark & {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .helix-theme-dark & {
      svg rect {
        fill:white;
      }
    }

    .helix-theme-dark & {
      border: 2px solid rgba(255, 255, 255, 0.2);
    }

    &:hover {
      &:before {
        opacity:1;
        transform: scale(1);
        transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
      }

      .helix-theme-dark & {
        svg rect {
          fill:white;
        }
      }
    }

    svg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;      
    }  
  }
}


/*----------  Overlay Mobile  ----------*/
.helix-logo-ui-overlay__mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 1);
  display: none;

  p {
    position: relative;
    top: 50%;
    transform: translateY(-54%);
    font-family: 'HelixSemiBold';
    font-size: 20px;
    text-transform: initial;
    text-align: center;
  }
}

.helix-logo-snow {

  position: absolute;
  top:0;
  width: 100%;
  height:100%;
  z-index: 1;
}
